<header class="header-content-wrapper">
  <div class="logo-container">
    <a
      routerLink="/"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
      aria-label="Logo"
    >
      <img class="logo" src="assets/logo.svg" alt="site logo" />
    </a>
  </div>
  <div class="buttons-container">
    <button mat-button (click)="toCatalog()">catalog</button>

    @if (isAuthenticated()) {
      <app-profile-status-bar></app-profile-status-bar>
    } @else {
      <button mat-button (click)="toLogin()">login</button>
      <button mat-button (click)="toRegistration()">registration</button>
    }
  </div>
</header>
