::ng-deep app-registration-page {
  margin: 45px auto 0 auto;
  display: flex;
  justify-content: center;
  background: #f2f2f2;
  max-width: 330px;
  padding: 15px;
}

.regestration-form {
  display: flex;
  flex-direction: column;
  width: 100%;

  h2 {
    margin: 0;
  }

  .email-errors-contaner,
  .username-errors-container,
  .confirm-pass-error {
    height: 16px;
    color: #eb5757;
  }

  .error-border {
    border-bottom: 5px solid #eb5757;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;

    a {
      background: transparent;
      color: #2f80ed;
      width: 124px;
      height: 30px;
      text-decoration: underline;
    }
    .button {
      background: #2f80ed;
      color: #ffffff;
      width: 124px;
      height: 30px;
      font-size: 12px;
    }
    .button:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
}
