<div class="user-profile">
  <h1>User Profile</h1>
  <div class="info-cards">
    <mat-card class="info-cards_card">
      <mat-card-header>
        <mat-card-title>Basic information</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Name:</p>
        <p>John</p>
      </mat-card-content>
      <mat-card-content>
        <p>Surname:</p>
        <p>Doe</p>
      </mat-card-content>
      <mat-card-content>
        <p>Date of birth:</p>
        <p>16.06.1966</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Edit</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="info-cards_card">
      <mat-card-header>
        <mat-card-title>Shipping address</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Street:</p>
        <p>Street 69</p>
      </mat-card-content>
      <mat-card-content>
        <p>City:</p>
        <p>Gdańsk</p>
      </mat-card-content>
      <mat-card-content>
        <p>Zip code:</p>
        <p>80180</p>
      </mat-card-content>
      <mat-card-content>
        <p>Country:</p>
        <p>Poland</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Edit</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <button (click)="goBack()">Back</button>
</div>
