<h1 mat-dialog-title>Change your password</h1>
<div mat-dialog-content>
  <form [formGroup]="editPasswordForm">
    <mat-form-field>
      <mat-label>Enter current password</mat-label>
      <input
        matInput
        formControlName="currentPassword"
        [type]="hideCurrentpassword ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideCurrentpassword = !hideCurrentpassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideCurrentpassword"
      >
        <mat-icon>{{
          hideCurrentpassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter new password</mat-label>
      <input
        matInput
        formControlName="newPassword"
        [type]="hideNewPassword ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hideNewPassword = !hideNewPassword"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hideNewPassword"
      >
        <mat-icon>{{
          hideNewPassword ? "visibility_off" : "visibility"
        }}</mat-icon>
      </button>
      @if (editPasswordForm.get("newPassword")?.hasError("noLowerCase")) {
        <mat-error
          >Password must include at least one lowercase letter</mat-error
        >
      }
      @if (editPasswordForm.get("newPassword")?.hasError("noUpperCase")) {
        <mat-error
          >Password must include at least one uppercase letter</mat-error
        >
      }
      @if (editPasswordForm.get("newPassword")?.hasError("noDigit")) {
        <mat-error>Password must include at least one digit</mat-error>
      }
      @if (editPasswordForm.get("newPassword")?.hasError("noSimbol")) {
        <mat-error
          >Password must include at least one special character
          (&#33;&#64;&#35;&#63;)</mat-error
        >
      }
      @if (editPasswordForm.get("newPassword")?.hasError("tooShort")) {
        <mat-error>Password must be at least 8 characters long</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Confirm new password</mat-label>
      <input
        matInput
        formControlName="confirmNewPassword"
        [type]="hideNewPassword ? 'password' : 'text'"
      />
      @if (editPasswordForm.get("confirmNewPassword")?.hasError("required")) {
        <mat-error>You need to confirm password</mat-error>
      }

      @if (editPasswordForm.errors?.["PasswordNoMatch"]) {
        <mat-error>Passwords do not match</mat-error>
      }
      @if (editPasswordForm.get("confirmNewPassword")?.hasError("matching")) {
        <mat-error>Passwords do not match</mat-error>
      }
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions>
  <button
    mat-button
    [disabled]="!editPasswordForm.valid"
    type="submit"
    (click)="onSave()"
  >
    Save
  </button>
  <button mat-button (click)="onCancel()">Cancel</button>
</div>
